
    #coordinate-ruler {
      position: relative;
      width: 550px;
      height: 550px;
      display: grid;
      grid-template-columns: repeat(11, 50px); /* 10 клітинок + 1 для позначень */
      grid-template-rows: repeat(11, 50px);   /* 10 клітинок + 1 для позначень */
      border: 2px solid rgb(47, 17, 17);
    }

    .cell {
      border: 1px solid #6a6262;
      text-align: center;
      line-height: 50px;
    }

    .axis-label {
      font-weight: bold;
      background-color: #554c4c4c;
    }

    .square {
      position: absolute;
      width: 50px;
      height: 50px;
      background-image: url(public/leon.svg);
    }
    .box{
        margin-top: 20px;
        display: grid;
    }
    .wrapper{
      display: flex;
      justify-content: center;
      background-image: url(public/jambo.webp);
      background-size: cover;
      min-width: 100vw;
      min-height: 100vh;
      /* background-image: url(); */
    }
   

    @media (max-width:650px) {
        #coordinate-ruler {
            width: 275px;
            height: 275px;
            display: grid;
            grid-template-columns: repeat(11, 25px); 
            grid-template-rows: repeat(11, 25px);   
            border: 2px solid rgb(47, 17, 17);
          }

          .square {
            position: absolute;
            width: 25px;
            height: 25px;
            background-image: url(public/leon.svg);
          }
    }